name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Test (${{ matrix.os }}, py${{ matrix.python-version }})
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, windows-latest, macos-latest]
        python-version: ['3.10', '3.11']

    steps:
    
    - name: Checkout repository
      uses: actions/checkout@v2
    
    - name: Setup Python
      uses: actions/setup-python@v2
      with: 
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest
        pip install -r requirements.txt
        pip install -e .

    - name: Run tests
      run: |
        pytest

    - name: Update README.md
        run: python https://github.com/BDehapiot/bdtools/blob/main/scripts/dynamic_badges.py